{% extends 'adminbusiness/main/business-layout.html' %}
{% load bootstrap %}
{% load static %}
{% block title %}
    View Service
{% endblock %}
{% block additional_head %}
<link href="{% static 'css/business-dashboard.css' %}" rel="stylesheet">
<style>
    .container{
        margin-top: 6rem;
    }
    .card {
        border: 0;
        border-radius: 27.5px;
        box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
        overflow: hidden;
    }

    .form {
        border-radius: 5px;
        padding: 25px;
        margin-left: 4rem;
    }

    input[type=submit] {
        width:auto;
        background-color: #093B60;
        color: white;
        padding: 6px 25px ;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #093B60;
    }
    @media only screen and (max-width: 1200px) {
        input[type=submit] {
            width: 25rem;
        }
        .form{
            width: auto;
            margin: auto;
        }
    }

</style>
{% endblock %}

{% block main_content %} 
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Update Service</h1>
            <div class="card py-2 px-2">
                <form class="form" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p style="color: #093B60">{{service.service.name}}</p>
                    {{ form | bootstrap_horizontal }}
                    <input type="submit" value="Submit">
                </form>

            </div>
        </div>

    </div>

</div>

{% endblock %}

{% block additional_body %}

{% endblock %}


