{% extends 'base/layout.html' %}
{% load bootstrap %}

{% block title %}
Password Change Form
{% endblock %}
{% block additional_head %}
<style>
.change-pass-card{
  padding-left: 5rem;
  padding-right: 5rem;
border-radius: 27.5px;
box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
overflow: hidden;
height: auto;
}

.btn-primary{
  background-color: #093B60;
  border-color: #093B60;
}
.btn-primary:hover{
  background-color: #093B60;
  border-color: #093B60;
}
label {
  width: 100%;
}
</style>

{% endblock %}
{% block main_content %}

<div class="m-4 col-md-6 " class="back">
  <a href="{% url 'customer:customerprofile'%}"  class="btn btn-dark btn-sm btn-primary"> <i class="fas fa-arrow-alt-circle-left"></i> Go Back </a>
</div>

<div class="col-md-6 m-auto change-pass-card">
<h4 style="text-align:center; margin-top:2rem;" > <i class="fas fa-key"></i> Change Password</h4>
  <form action="" method="POST" clas="form-inline">
  
    {% csrf_token %}
    {{form|bootstrap}}
    <input type="submit" class="mb-3 mt-3 btn btn-primary" value="Change Password">
  </form>
  
</div>
  

{% endblock %}