{% extends 'base/layout.html' %}
{% load static %}
{% block title %}
Services
{% endblock %}

{% block additional_head %}
<link href="{% static 'css/service-page.css' %}" rel="stylesheet">
{% endblock %}


{% block main_content %}
<div class="search-form">
  <p class="search-place fs-3 text-center">Get all your services at
    one place. Search Now!</p>
  <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 search-bar-group">

    <form>
      <div class="input-group">
        <div class="input-group-prepend">
          <button id="button-addon2" type="submit" class="btn btn-link text-warning"><i
              class="fa fa-search"></i></button>
        </div>
        <input type="search" name="service_name"
          {% if service_filter.form.service_name.value %}value="{{service_filter.form.service_name.value}}{% endif %}"
          placeholder="What're you searching for?" aria-describedby="button-addon2"
          class="form-control border-0 bg-light">
      </div>
    </form>
  </div>
</div>
<div class="primary">


  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg mt-2">
    <div class="container" data-aos="fade-up">
      <div class="row">
        {% if services %}
        {% for service in services %}

        <div class="col-lg-3 col-md-4 col-sm-6 p-3" data-aos="zoom-in" data-aos-delay="100">
          <a href="{% url 'business:business-list-page' %}?q={{service.name}}">
            <div class="icon-box iconbox-blue" style=" border-radius: 20px;">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5"
                    d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174">
                  </path>
                </svg>
                <i class="fas {{service.icon_text}}"></i>
              </div>
              <h4><a href="{% url 'business:business-list-page' %}?q={{service.name}}">{{service.name}}</a></h4>
            </div>
          </a>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-md-12 text-center mt-2">
          <img src="{% static 'img/websites/no_search_result_found.png' %}" width="200" height="200">
          <div class="error-template">
            <h5>No Service Found</h5>
            <div class="error-details">
              Sorry, no service found for the query!
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
  <!-- End Sevices Section -->
</div>



{% endblock %}
{% block additional_body %}
<script>
  {% comment %} 
  document.getElementsByTagName("input")[0].placeholder = "Search Now"
   document.getElementsByTagName("input")[0].style.textAlign = "center" 
  {% endcomment %}
</script>
{% endblock %}