.back {
    font-size: 30px;
    color: #045de9;
}
form {
    border-radius: 5px;
    box-shadow: rgb(0, 0, 0, 25%) 0px 5px 20px;
    background-image: linear-gradient(#045de9 , #09c6f9);
}
.form_inputs {       
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}
form label{   
    font-size: 19px;
    font-weight: bold;
}
form input{   
    margin-right: 16px;
    border: 2px solid black;
    border-radius: 8px;
}
form input[type="text"], form input[type="email"], form input[type="password"] {   
    width: 300px;
}
form input:hover {
    background-color: #09c6f9;
}
form input:focus {
    outline: none;
    background-color: #09c6f9;
}
.operation_button {
    font-size:19px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0, 25%) 5px 5px 20px;
}
.operation_button:hover {
    background-color: #045de9;
}
@media screen and (max-width: 1090px) {
    .form_inputs {      
        flex-direction: column;
        justify-content: start;
    }
}
@media screen and (max-width: 680px) {
    .back {
        font-size: 25px;
    }
    form label{   
        font-size: 15px;
    }
    .operation_button {
        font-size:15px;
    }
    form input[type="text"], form input[type="email"], form input[type="password"] 
    {   
        width: 220px;
    }
}
@media screen and (max-width: 480px) {
    form input[type="text"], form input[type="email"], form input[type="password"] 
    {   
        width: 150px;
    }
}