{% extends 'base/layout.html' %}
{% load static %}
{% load class_tag_filter %}

{% block title %}
Reset Password
{% endblock %}

{% block additional_head %}

{% endblock %}
{% block main_content %}
<div class="container mb-2 mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="forgot">
                <h2>Change Your Password</h2>
            </div>
            {% if validlink %}
            <form class="card mt-4" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group mb-2">
                        <label for="id_new_password1">New Password</label>
                        {{form.new_password1|addclass:'form-control'}}
                        <small id="passwordHelp" class="text-danger">
                            {% for error1 in form.new_password1.errors %}
                            <small class="text-danger">
                                {{error1|escape}}
                            </small>
                            <br/>
                            {% endfor %}
                        </small>
                    </div>
                    <div class="form-group mb-2">
                        <label for="id_new_password2">Confirm Password</label>
                        {{form.new_password2|addclass:'form-control'}}
                        {% for error2 in form.new_password2.errors %}
                        <small class="text-danger">
                            {{error2|escape}}
                        </small>
                        <br/>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer"> <button class="btn btn-success" type="submit">Change Password</button>
                    <a href="{% url 'login' %}" class="btn btn-danger">Back to Login</a> </div>
            </form>
            {% else %}
            <p>Invalid Link</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}