{% extends 'worker/main/worker-layout.html' %}
{% load bootstrap %}
{% load static %}
{% block title %}
    Edit Business Profile
{% endblock %}
{% block additional_head %}

<style>
    .container {
        margin-top: 6rem;

    }

    
    .card {
        border: 0;
        border-radius: 27.5px;
        box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
        overflow: hidden;
    }

    .form {
        margin-left: 5.5rem;
        border-radius: 5px;
        padding: 25px;
    }

    input[type=submit] {
        width: auto;
        background-color:#093B60;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #093B60;
    }

  
</style>
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto offset-md-3">
            <h1 class="text-center">Edit Business Profile</h1>
            <div class="card mx-auto py-2">
                <form class="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form | bootstrap_horizontal}}
                    <input type="submit" class="btn" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block additional_body %}

{% endblock %}